.Hero{
    margin-top: 8vh;
    position:relative;
}

.hero-box{
    margin:12vh 5vw 5vw 5vw;
    border-radius: 2vw;
    min-height: 40vh;
    max-height: 90vh;
    min-width: 90vw;
    
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.right-box{
    max-width: 50%;
    justify-content: center;
    align-content: center;

}
.right-box img{
    width:80%;
    margin-top: -2vh;
   
}

.left-box{
    min-width: 50%;
    min-height: 80em;
    display: flex;
    flex-direction:column;
    align-items: flex-start ;
    justify-content: center;
}
.left-box-heading{
    margin-top: 5vh;
    margin-left: 2vw;
    font-size: 7vh;
    color:whitesmoke;
    font-family: "Be Vietnam Pro", sans-serif;
font-weight: 500;
font-style: normal;

}
.left-box-subheading{
    font-size: 3vh;
    font-weight: 1000;
    color:#D8A8F7;
    margin-left: 2vw;
    margin-top: 3vh;
    margin-bottom: 4vh;
}
#Demo-navbar1{
    text-decoration: none;
background-color: aliceblue;
color: #13072E;
border-radius: 10vw;
border: 2% white solid;
font-size: 2vh;
margin-left: 2vw;
min-width:10vw;
padding: 4%;
display: inline-block;
padding-left: 10%;
padding-right: 10%;
text-align: center; /* Centers the text within the a tag */
white-space: nowrap;

}

@media screen and (max-width:780px) {
    
    .hero-box{
        margin:12vh 5vw 5vw 5vw;
        min-height: 40vh;
        max-height: 90vh;
        min-width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    
    
    }
    
    .left-box{
        min-width: 30%;
        max-height: 40%;
        min-height: 40%;
        display: flex;
        flex-direction:column;
        justify-content: center; /* Align items from top */
        align-items: flex-start; 
        
    }
    .right-box{
        max-height: 50%;
        max-width: 40%;
        overflow: hidden;
    }
    
    
    .left-box-heading{
        margin-top: 2vh;
        margin-left: 2vw;
        font-size: 5vh;
        color:whitesmoke;
        font-family: "Be Vietnam Pro", sans-serif;
        
    font-weight: 500;
    font-style: normal;
    
    }
    .left-box-subheading{
        font-size: 1.5vh;
        font-weight: 1000;
        color:#D8A8F7;
        margin-left: 2vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    #Demo-navbar1{
        text-decoration: none;
    background-color: aliceblue;
    color: #13072E;
    border-radius: 10vw;
    border: 2% white solid;
    font-size: 1.2vh;
    margin-left: 2vw;
    min-width:15vw;
    padding: 4%;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center; /* Centers the text within the a tag */
    white-space: nowrap;
    
    }
    .right-box img{
    
        width:100%;
        transform: scale(1); /* Scales the image by 200% */
        transform-origin: 0 0;
       
    }
    
    
    
    }
    
    
    
    
    .left-box-heading{
    background-image: linear-gradient(
    -220deg,
    white 0%,
    hsl(276, 94%, 80%) 39%,
    white 67%,
    #ca8af5 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 20s linear infinite;
    }
    
    @keyframes textclip {
    to {
    background-position: 200% center;
    }
    }