
:root {
    --background-color: #070212;
    --circle-color-start: #510feb;
    --circle-color-end: #381a6d;
  }
  .outerbox {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 3vw;
    min-height: 40vh;
    max-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.outerbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-color);
    background: radial-gradient(
        circle,
        var(--background-color),
        var(--circle-color-start) 30%,
        rgba(12, 2, 34, 0.226) 0%
    ),
    radial-gradient(
        circle at 40px 40px,
        var(--circle-color-start),
        var(--circle-color-end) 30%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 600px 200px,
        var(--circle-color-start),
        var(--circle-color-end) 10%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 800px 100px,
        var(--circle-color-start),
        var(--circle-color-end) 10%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 700px 500px,
        var(--circle-color-start),
        var(--circle-color-end) 2%,
        rgba(19, 7, 46, 0.123) 0%
    ),
    radial-gradient(
        circle at 200px 400px,
        var(--circle-color-start),
        var(--circle-color-end) 1%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 300px 700px,
        var(--circle-color-start),
        var(--circle-color-end) 15%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 900px 500px,
        var(--circle-color-start),
        var(--circle-color-end) 20%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 650px 400px,
        var(--circle-color-start),
        var(--circle-color-end) 10%,
        rgba(19, 7, 46, 0) 0%
    ),
    radial-gradient(
        circle at 600px 600px,
        var(--circle-color-start),
        var(--circle-color-end) 1%,
        rgba(19, 7, 46, 0.959) 0%
    );
    filter: blur(15px);
    z-index: -1;
}

  

.infoheading{
    width:100%;
margin-left: 2vw;
margin-top: 2vw;
font-size: 5vh;
color:whitesmoke;
font-family: "Be Vietnam Pro", sans-serif;
font-weight: 500;
font-style: normal;
} 


.infobox{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.infobox-left{
    max-width: 50%;
    margin-top: 10vh;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.infovideo-subheading{
    font-size: 1.5vh;
    line-height: 2vh;
    color: whitesmoke;

}





.infobox-right{
    max-width: 50%;
    padding:2vw 2vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

}  
.info-rightbox-subheading{
    margin-left: 2vw;
    font-size: 7vh;
    color:whitesmoke;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 50;
} 
.info-rightbox-text{
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: normal;
font-weight: 100;
color:#D8A8F7;
margin-left: 2vw;
margin-right: 2vw;
margin-top: 3vh;
margin-bottom: 4vh;

}



.info-rightbox-button{
    text-decoration: none;
background-color: aliceblue;
color: #13072E;
border-radius: 10vw;
border: 2% white solid;
font-size: 2vh;
margin-bottom: 3vh;

padding: 4%;
display: inline-block;
padding-left: 20%;
padding-right: 20%;
text-align: center; /* Centers the text within the a tag */
white-space: nowrap;
margin-left: 2vw;



}
.infovideo {
display: flex;
justify-content: center;
align-items: center;
margin: 5%;
}

.infovideo video {
max-width: 100%;
border-radius: 1vw
}





@media screen and (max-width:980px){
    .info-rightbox-text{
font-size: 16px;
font-weight: 100;
color:#D8A8F7;
margin-left: 2vw;
margin-top: 1vh;
margin-bottom: 3vh;
}
.outerbox{
max-height: none;
}

.infobox{
    display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;

}
.infobox-right{
    max-width: 100%;
}
.infobox-left{
    max-width: 100%;
    margin-top: 10px;
}
.info-rightbox-subheading{
    font-size: 48px;
}
.infoheading{
    width:100%;
margin-left: 2vw;
margin-top: 2vw;
text-align: center;
font-size: 4vh;
color:whitesmoke;
font-family: "Be Vietnam Pro", sans-serif;
font-weight: 500;
font-style: normal;
}

.infovideo {
display: flex;
justify-content: center;
align-items: center;
margin: 5%;
}

.infovideo video {
max-width: 100%;
border-radius: 2vw;

}


    
}

@media screen and (min-width:2080px)
{


    .info-rightbox-text{
    text-align: justify;
    font-size: 2vh;
    line-height: 2.5vh;
    letter-spacing: normal;
font-weight: 100;
color:#D8A8F7;
margin-left: 2vw;
margin-right: 2vw;
margin-top: 3vh;
margin-bottom: 4vh;

}
}

